.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.home{
  width: 100%;
  height: 100%;
}

section{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {

  background-color: var(--white, #FFF);
  position: fixed;
  width: 100vw;
  height: auto;
}

.img-button {
  background-color: transparent; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  cursor: pointer; /* Change cursor to pointer for a clickable button */
  font-family: 'Pretendard';

}

.logobutton {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures the image behaves like a block element */
  object-fit: cover; /* Ensures the image fits the button area, without distortion */
}

.anotherbutton{
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 800;
  font-size: 24px;
}

.div1{
  text-align: start;
  position: absolute;
  padding: 36vh 0 0 6.406vw;
}

.div2{
  padding-top: 50px;
}

.div3{
  margin-top: 30px;
  margin-bottom: 30px;
}

h1{
  color: var(--white, #FFF);
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  animation: smoothAppear 1s ease-in;
}

.h1grey{

  color: var(--white, #FFF);
}

.h1black{
  font-weight: 800;
}

p{
  margin: 0;
  color: var(--white, #FFF);
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 800;
  line-height: normal;  
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(+15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.scroll-text {
  font-size: 5rem;
  transition: 1.5s;
}

.scrolled-text {
  font-size: 5rem;
  color: red;
  transition: 1.5s;
}


/* 초기 상태: 숨겨진 상태 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(+15%);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* 부드러운 전환 */
}

/* 뷰포트에 보일 때 트리거되는 클래스 */
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0); /* 원래 위치로 이동 */
}