.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {

  background-color: white;
  position: fixed;
  width: 100vw;
  height: auto;
}

.img-button {
  background-color: transparent; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  cursor: pointer; /* Change cursor to pointer for a clickable button */
}

.logobutton {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures the image behaves like a block element */
  object-fit: cover; /* Ensures the image fits the button area, without distortion */
}

.div1{
  position: absolute;
  padding: 36vh 0 0 6.406vw;
}