.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; }


.App-link {
  color: #61dafb;
}

.home{
  width: 100%;
  height: 100%;
}

section{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 500px;
  min-height: 290px;
}
.homeimage.home{
  filter:brightness(0.80)


}

.div1{
  z-index: 50;
  text-align: start;
  position: absolute;
  padding: 36vh 0 0 6.406vw;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.div1.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;

}
.div2{
  padding-top: 50px;
}
.div2.another{
  padding-top:20px;

}

h1{
  color: var(--white, #FFF);
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  animation: smoothAppear 1s ease-in;
}

.h1grey{

  color: var(--white, #FFF);
}

.h1black{
  font-weight: 800;
}

p{
  margin: 0;
  color: var(--white, #FFF);
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 800;
  line-height: normal;  
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(+15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.scroll-text {
  font-size: 5rem;
  transition: 1.5s;
}

.scrolled-text {
  font-size: 5rem;
  color: red;
  transition: 1.5s;
}


/* 초기 상태: 숨겨진 상태 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(-15%);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* 부드러운 전환 */
}

/* 뷰포트에 보일 때 트리거되는 클래스 */
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0); /* 원래 위치로 이동 */
}

.gifdivbox{
  width: 100%;
  margin-bottom: 2vh;

}
.gifdivbox.section_3{
  width: 30vw;
  margin-bottom: 2vh;
}

.section_1{
  background-color: var(--Gray, #E4E4E2);

}

.section_1_wrapper.section_2{
  align-items: center;

}
.section_1.pink{
  background-color: var(--Pink, #F2E6DE);
}

.div5{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;

}
.div5.visible{

  opacity: 1;
  transform: translateY(0);
}

.section_header{
  font-family: "MinervaModern";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.46px
}
.section_header.section_7{
  color: var(--Gray, #646464);

  font-size: 96px;

}
.section_header.anotherheader{
  color: var(--Gray, #646464);

  font-size: 36px;
  font-weight: 450;
  letter-spacing: -0.36px;

}
.section_header.anotherheader.section_6{
  color: var(--Gray, #646464);

  font-size: 36px;
  font-weight: 450;
  letter-spacing: -0.36px;
  text-align: start;

}
.section_header.content{
  color: var(--Gray, #646464);
  text-align: center;
  font-family: 'Pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
  opacity: 0;
  transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* 부드러운 전환 */

}


.section_header.content.visible{

  opacity: 1;
  transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* 부드러운 전환 */

}

.section_header.content.start{
  color: var(--Gray, #646464);
  text-align: start;
  font-family: 'Pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
}
.section_header.content.last{
  position: absolute;
  color: var(--white, #FFF);
  font-family: MinervaModern;
  font-size: 36px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: -0.36px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px; 
}
.section_1_wrapper{
  padding-top: 10vh;
  height: 100%;

}

.section_1_div_header{
  display: block;
  margin-bottom: 5vh;
}

.section_1_div_header.section_1{
  display: flex;
  place-content:center;
  margin-bottom: 5vh;
}
.section_1_div_header.section_3{
  margin-bottom: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section_1_div_header.section_5{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 12vw;
  margin-right: 3vw;
  margin-top: 15vh;
  margin-bottom: 2vh;

}



.section_1_div_header.anothersection3{
  display: flex;
  place-content:start;
  margin-bottom: 2vh;

}
.section_1_header{
  color: var(--Gray, #646464);
  font-family: MinervaModern;
  font-size: 46px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: -0.46px;
}

.section_1_header.plus{
  font-size: 36px;
  font-weight: 400;

}
.section_1_header.another{
  font-weight: 400;
  margin-right: 10px;
}

.padding{
  width: 20px;
}

.section_1_content{
  margin-top: 40px;
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: space-between;
}

.section_1_content_first{
  min-width: 959px;
  width:55%;
}
.section_1_content_first.last{
  min-width: 959px;
  width:100%;
}



.section_1_content_second{
  display: flex;
  flex-direction: column;
}
.section_1_content_anothersecond{
  display: flex;
}
.section_1_imagecover{
  background-color: var(--Medium-Gray, #D9D9D9);
  width: 17vw;
  height: 47vh;
}

.div4{
  margin-top:6vh;
  margin-bottom: 4vh;

}

.section_2_wrapper{

  margin-top: 5vh;
  margin-bottom:10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section_4_wrapper{

  margin-top: 5vh;
  margin-bottom:10vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.section_2_videowrapper{
  display: flex;
  width: 54vw;

}


.section_2_explainclass{
  margin-top: 5vh;
  max-width: 40vw;
  text-align: start;

}
.section_2_explainclass.none{
  justify-self: center;

}
.section_2_explainclass.section_6{
  justify-self: center;
  max-width: 30vw;
}
.section_2_explainclass.section_5{
  margin-top: 0;

  max-width: 60vw;
  text-align: start;
  margin-right: 16vw;
  margin-bottom: 7vh;
}
.section_2_explainclass.section_3{
  margin-top: 0;

  max-width: 30vw;
  text-align: start;
  margin-bottom: 5vh;

}
.section_3_wrapper{
  height:100%;
  padding-top: 3vh;
  background-color: #F2E6DE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section_5_wrapper{
  height:100%;
  margin-top: 3vh;
  background-color: #F2E6DE;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.section_5_wrapper.another{
  margin-right: 10vw;


}
.section_3_wrapper.another{
  margin-left: 10vw;

}
.section_4_wrapper_mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  width: 50%;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
}

/* 공통 스타일 */
.section_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_2_videoclass{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* 섹션별 고유 스타일 */
.section_image.none {
  object-fit: contain;
}

.section_3_image {
  width: 46vw;
  object-fit: contain;
  object-position: top;
}

.section_3_bordercon{
  display: flex;
  width:50%;
  min-width: 600px;
}

.section_4_redmoon {
  margin: 0 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.section_2_explainclass_header{
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Pretendard;
  color: #646464;
  text-align: start;
  margin-bottom: 10px;
}

.section_4_redmoontext {
  position: absolute;
  font-family: "MinervaModern";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.46px;
}

.section_5_bordercon{
  display: flex;
  

}

.section_4_redmoon.visible {
  opacity: 1;
  transform: translateY(0);
}

.sliderDiv{
  width: 36vw;
  margin-left:vw;
  margin-right:7vw;

}

.sliderDiv_upperflex{
  display: flex;

}

.sliderDiv_img{
  width: 18vw;
  height: 36vh;
  margin-right: 0.3vw;
}
.sliderDiv_img_another{
  width: 18vw;
  height: 36vh;
}

.section_6_wrapper{
  margin-top: 10vh;


}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  animation: slide 40s infinite linear;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-215vw);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-385vw);
  }
}

.div7{
  height: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.div7_wrapper{
  margin-top: 50%;

}

.div7.contactpage{
  display: flex;
  flex-direction: column; 
  margin-left: 5vw;
  justify-content: normal;

  align-items: normal;

}

.div7.contactpage.wrapper{
  display: flex;
  flex-direction: row; 
  margin-top: 10vh;
  margin-left: 10vw;
  justify-content: normal;

  align-items: normal;

}

.contactText{
  text-align: start;
  color: var(--Gray, #646464);
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px; 
}

.contactText.contentbutton{
  color: var(--white, #FFF);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.contact{
  min-width: 15vw;
  height: 40px;
  background-color: #D9D9D9;
  border: none;
}

.contact.contents{
  height: 130px;

}

.label{
  min-width: 8vw
}

.div8{
  margin-top: 10px;
  display: flex;
  align-items: center;

}
.div8.contents{
  align-items: start;
}
.div8.contentsbutton{
  justify-content: end;
}

.div9{
  display: flex;

}

.contactButton{
  width: 130px;
  height: 50px;
  background-color: #091B37;
  margin-top: 10px;
  cursor: pointer;
}

.div7.contactpage.another{
  margin-right: 10vw;
}

.section_4_redmoon_image{
  width: normal;
}

.footerclass{
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}


.section_5_div5{
  margin-bottom: 3vh;
  margin-top:  3vh;

}

.mobile_slider{
  display:flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 15vw;
}


@media(max-width: 1400px){
  .section_1_content_first{
    min-width: 300px;

  }
  .section_1_content_first.last{
    min-width: 300px;
    width: 100%;
  }
  h1{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }

  .div2{
    padding-top: 4vh;
  }
  .div4{
    margin-top:3vh;
    margin-bottom: 3vh;
  }

  .section_header.content.start{
    font-size: 15px;
    line-height: normal;

  }

  .section_header.anotherheader{
    font-size: 24px;
  }

  .padding{
    width: 15px;
  }
  .section_3_bordercon{
    min-width: 400px;

  }

  .section_1_header{
    font-size: 32px;
  }
  .section_header.content{
    font-size: 15px;
    line-height: normal;

  }
  .section_header.content.section_1{
    font-size: 12px;
    line-height: 32px;

  }
  .section_2_explainclass{
    max-width: 70vw;
  }
  .section_2_videowrapper{
    width: 60vw;
    height: 50vh;
    min-width: 800px;
  }
  .section_4_redmoon_image{
    width: 13vw;
  }
  .section_4_redmoontext{
    font-size: 15px;
  }
  .section_3_image.section_5{
    object-position: center;

  }
  .section_2_explainclass.section_5{
    margin-right: 5vw;
  }
  .gifdivbox.section_3{
    width: normal;
  }

  .section_2_explainclass.section_6 {
    justify-self: center;
    max-width: 50vw;
  }
  .section_header.anotherheader.section_6 {
    font-size: 24px;
  } 

  .sliderDiv_img{
    width: auto;
    height: auto;
      /* width: 18vw; */
      /* height: 36vh; */
  }
  .sliderDiv_img_another{
    width: auto;
    height: auto;
      /* width: 18vw; */
      /* height: 36vh; */
  }
  .div7.contactpage.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: flex-start;
}
.contact {
  width: 30vw;

}

.contact.contents {
  height: 85px;
}


.homeimage{
  min-width: 300px;

}

}


.section_2_video_explain_wrapper{
  display: flex;

}
.section_2_video_image_wrapper{
  width: 57vw;
  height: 45vh;

}

@media(max-width: 800px){
  .footerclass_width {
    width: 100%;

}
  h1{
    font-size: 28px;
  }
  p{
    font-size: 14px;
  }
  .home{
    display: flex;
    align-items: flex-end;
  }
  .div1{
    margin-bottom: 25vh;
  }
  .section_1_wrapper{

    padding-top: 10vh;
  }
  .section_1_content{
    margin-top: 10vh;
    justify-content: center;

  }
  .section_1_div_header{
    margin-bottom: 3vh;

  }
  .section_1_imagecover{
    width: 34vw;
    height: 30vh;

  }
  .section_1_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .section_1.section_2{
    align-items: center;

  }
  .section_2_videowrapper{
    width: 90vw;
    height: 30vh;
  }
  .section_2_wrapper{
    margin-bottom: 0;
    margin-top: 3vh;

  }
  .section_2_explainclass{

    margin-top: -2vh;

  }
  .section_2_video_explain_wrapper{
    display: flex;
    align-items: center;
    margin-top: -7vh;
    margin-left: 5vw;
  }
  .section_2_video_image_wrapper{

    width: auto;
  }
  .section_image{
    object-fit: contain;
  }
  .section_2_explainclass.section_3{
  
    max-width: 80vw;

  }

  .section_1_header.plus{
    font-size: 32px;


  }
  .section_5_div5{
    margin-top: 5vh;
  }
  .section_6_wrapper{
    margin-top: 0px;
  }
  .sliderDiv{
    margin-bottom: 2vh;
    width: 40vw;
  }
  .slider_mobile{
    margin-bottom: 3vh;
  }
  .carousel-container{
    margin-top: 3vh;

  }
  .carousel-track{
    animation: slide2 40s infinite linear;
  }
  .section_header.section_7{
    font-size: 72px;

  }

  .contact{width: 100%; margin-left: 100px;}
  .label{width: 20%;}
  .footerclass{

    margin-top: 2vh;
    flex-direction: column;
  }
}



@media(max-width: 499px){
  .section_2_videowrapper{
    min-width: none;
  }

  .section_4_redmoontext{
    font-size: 10px;
    font-weight: 800;
  }
  

  .section_4_redmoon_image{
    width: 17vw;
    min-width: 50px;
  }

  .section_header.content.section_1{
    font-size: 10px;

  }
  .section_header.content{
    font-size: 10px;
  }
  .section_5_div5{
    max-width: 300px;
  }

  .section_1_div_header.section_5{
    margin-top: 0;
  }
  .section_1_wrapper{
    padding-top:10vh;
  }
  section{
    height: auto;
    overflow: visible;
  }
  .section_3_wrapper.another{
    display: block;
  }
  .sliderDiv{
    margin-bottom: 2vh;
    width: 50vw;
  }
  .slider_mobile{
    margin-bottom: 1vh;
  }

  .section_header.content.start{
    font-size: 10px;
  }
}
